In [1]:
import findspark
findspark.init('/home/mocatfrio/spark')

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("fc").getOrCreate()

In [4]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fa33a272da0>

# Load Dataset

In [5]:
import os
dataset_path = '/Users/mocatfrio/Documents/thesis/tugas-akhir/App/dataset-generator'
# dataset_path = '/home/mocatfrio/Documents/tugas-akhir/app/dataset-generator'

In [6]:
fc_file = os.path.join(dataset_path, 'covtype.csv')
fc_df = spark.read.load(fc_file, format="csv", sep=",", inferSchema="true", header="true")

In [7]:
# Print top 20 rows data
fc_df.show()

+---------+------+-----+--------------------------------+------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+----------------+----------------+----------------+----------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
|Elevation|Aspect|Slope|Horizontal_Distance_To_Hydrology|Vertical_Distance_To_Hydrology|Horizontal_Distance_To_Roadways|Hillshade_9am|Hillshade_Noon|Hillshade_3pm|Horizontal_Distance_To_Fire_Points|Wilderness_Area1|Wilderness_Area2|Wilderness_Area3|Wilderness_Area4|Soil_Type1|Soil_Type2|Soil_Type3|Soil_Type4|Soil_Type5|Soil_Type6|Soil_Type7|Soil_Type8|Soil_Type9|Soil_Type10|Soil_Type11|Soil_Type12|Soil_Type13|Soil_Type14|Soil_Type15|Soil_Type16|Soil_Type17|Soil_Type18|Soil_Type19|Soil_Type20|Soil_Type21|Soil_Type22|Soil_Type23|Soil_Type24|Soil_Type25|Soil_Type26|Soil_Type27|Soil_Type28|Soil_Type29|Soil_Type30|Soil_Type31|Soil_Type32|Soil_Type33|Soil_Type34|Soil_Type35|Soil_Type36|Soil_Type37|Soil_Type38|Soil_Type39|Soil_Type40|Cover_Type|
+---------+------+-----+--------------------------------+------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+----------------+----------------+----------------+----------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
|     2596|    51|    3|                             258|                             0|                            510|          221|           232|          148|                              6279|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2590|    56|    2|                             212|                            -6|                            390|          220|           235|          151|                              6225|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2804|   139|    9|                             268|                            65|                           3180|          234|           238|          135|                              6121|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         2|
|     2785|   155|   18|                             242|                           118|                           3090|          238|           238|          122|                              6211|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         2|
|     2595|    45|    2|                             153|                            -1|                            391|          220|           234|          150|                              6172|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2579|   132|    6|                             300|                           -15|                             67|          230|           237|          140|                              6031|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         2|
|     2606|    45|    7|                             270|                             5|                            633|          222|           225|          138|                              6256|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2605|    49|    4|                             234|                             7|                            573|          222|           230|          144|                              6228|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2617|    45|    9|                             240|                            56|                            666|          223|           221|          133|                              6244|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2612|    59|   10|                             247|                            11|                            636|          228|           219|          124|                              6230|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2612|   201|    4|                             180|                            51|                            735|          218|           243|          161|                              6222|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2886|   151|   11|                             371|                            26|                           5253|          234|           240|          136|                              4051|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         2|
|     2742|   134|   22|                             150|                            69|                           3215|          248|           224|           92|                              6091|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         2|
|     2609|   214|    7|                             150|                            46|                            771|          213|           247|          170|                              6211|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2503|   157|    4|                              67|                             4|                            674|          224|           240|          151|                              5600|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2495|    51|    7|                              42|                             2|                            752|          224|           225|          137|                              5576|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2610|   259|    1|                             120|                            -1|                            607|          216|           239|          161|                              6096|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2517|    72|    7|                              85|                             6|                            595|          228|           227|          133|                              5607|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2504|     0|    4|                              95|                             5|                            691|          214|           232|          156|                              5572|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
|     2503|    38|    5|                              85|                            10|                            741|          220|           228|          144|                              5555|               1|               0|               0|               0|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          1|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|         5|
+---------+------+-----+--------------------------------+------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+----------------+----------------+----------------+----------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
only showing top 20 rows

In [8]:
fc_df.count()

581012

In [9]:
fc_df.printSchema()

root
 |-- Elevation: integer (nullable = true)
 |-- Aspect: integer (nullable = true)
 |-- Slope: integer (nullable = true)
 |-- Horizontal_Distance_To_Hydrology: integer (nullable = true)
 |-- Vertical_Distance_To_Hydrology: integer (nullable = true)
 |-- Horizontal_Distance_To_Roadways: integer (nullable = true)
 |-- Hillshade_9am: integer (nullable = true)
 |-- Hillshade_Noon: integer (nullable = true)
 |-- Hillshade_3pm: integer (nullable = true)
 |-- Horizontal_Distance_To_Fire_Points: integer (nullable = true)
 |-- Wilderness_Area1: integer (nullable = true)
 |-- Wilderness_Area2: integer (nullable = true)
 |-- Wilderness_Area3: integer (nullable = true)
 |-- Wilderness_Area4: integer (nullable = true)
 |-- Soil_Type1: integer (nullable = true)
 |-- Soil_Type2: integer (nullable = true)
 |-- Soil_Type3: integer (nullable = true)
 |-- Soil_Type4: integer (nullable = true)
 |-- Soil_Type5: integer (nullable = true)
 |-- Soil_Type6: integer (nullable = true)
 |-- Soil_Type7: integer (nullable = true)
 |-- Soil_Type8: integer (nullable = true)
 |-- Soil_Type9: integer (nullable = true)
 |-- Soil_Type10: integer (nullable = true)
 |-- Soil_Type11: integer (nullable = true)
 |-- Soil_Type12: integer (nullable = true)
 |-- Soil_Type13: integer (nullable = true)
 |-- Soil_Type14: integer (nullable = true)
 |-- Soil_Type15: integer (nullable = true)
 |-- Soil_Type16: integer (nullable = true)
 |-- Soil_Type17: integer (nullable = true)
 |-- Soil_Type18: integer (nullable = true)
 |-- Soil_Type19: integer (nullable = true)
 |-- Soil_Type20: integer (nullable = true)
 |-- Soil_Type21: integer (nullable = true)
 |-- Soil_Type22: integer (nullable = true)
 |-- Soil_Type23: integer (nullable = true)
 |-- Soil_Type24: integer (nullable = true)
 |-- Soil_Type25: integer (nullable = true)
 |-- Soil_Type26: integer (nullable = true)
 |-- Soil_Type27: integer (nullable = true)
 |-- Soil_Type28: integer (nullable = true)
 |-- Soil_Type29: integer (nullable = true)
 |-- Soil_Type30: integer (nullable = true)
 |-- Soil_Type31: integer (nullable = true)
 |-- Soil_Type32: integer (nullable = true)
 |-- Soil_Type33: integer (nullable = true)
 |-- Soil_Type34: integer (nullable = true)
 |-- Soil_Type35: integer (nullable = true)
 |-- Soil_Type36: integer (nullable = true)
 |-- Soil_Type37: integer (nullable = true)
 |-- Soil_Type38: integer (nullable = true)
 |-- Soil_Type39: integer (nullable = true)
 |-- Soil_Type40: integer (nullable = true)
 |-- Cover_Type: integer (nullable = true)

In [10]:
fc_df.createOrReplaceTempView("covtype")

# Preprocess
## 3 Dimensi

In [11]:
# Retrieve the data needed:
# - Slope as ts in
# - Aspect as ts out
# - Other as dim

data = spark.sql("SELECT ROW_NUMBER() OVER (ORDER BY NULL) AS `id`, ROW_NUMBER() OVER (ORDER BY NULL) AS `Label`, \
                 `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, `Horizontal_Distance_To_Roadways`, \
                 `Hillshade_9am`, `Hillshade_Noon`, `Hillshade_3pm`, `Horizontal_Distance_To_Fire_Points`\
                  FROM covtype \
                  WHERE `Slope` < `Aspect`")

In [12]:
data.show()

+---+-----+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
| id|Label|Slope|Aspect|Elevation|Horizontal_Distance_To_Hydrology|Horizontal_Distance_To_Roadways|Hillshade_9am|Hillshade_Noon|Hillshade_3pm|Horizontal_Distance_To_Fire_Points|
+---+-----+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
|  1|    1|    3|    51|     2596|                             258|                            510|          221|           232|          148|                              6279|
|  2|    2|    2|    56|     2590|                             212|                            390|          220|           235|          151|                              6225|
|  3|    3|    9|   139|     2804|                             268|                           3180|          234|           238|          135|                              6121|
|  4|    4|   18|   155|     2785|                             242|                           3090|          238|           238|          122|                              6211|
|  5|    5|    2|    45|     2595|                             153|                            391|          220|           234|          150|                              6172|
|  6|    6|    6|   132|     2579|                             300|                             67|          230|           237|          140|                              6031|
|  7|    7|    7|    45|     2606|                             270|                            633|          222|           225|          138|                              6256|
|  8|    8|    4|    49|     2605|                             234|                            573|          222|           230|          144|                              6228|
|  9|    9|    9|    45|     2617|                             240|                            666|          223|           221|          133|                              6244|
| 10|   10|   10|    59|     2612|                             247|                            636|          228|           219|          124|                              6230|
| 11|   11|    4|   201|     2612|                             180|                            735|          218|           243|          161|                              6222|
| 12|   12|   11|   151|     2886|                             371|                           5253|          234|           240|          136|                              4051|
| 13|   13|   22|   134|     2742|                             150|                           3215|          248|           224|           92|                              6091|
| 14|   14|    7|   214|     2609|                             150|                            771|          213|           247|          170|                              6211|
| 15|   15|    4|   157|     2503|                              67|                            674|          224|           240|          151|                              5600|
| 16|   16|    7|    51|     2495|                              42|                            752|          224|           225|          137|                              5576|
| 17|   17|    1|   259|     2610|                             120|                            607|          216|           239|          161|                              6096|
| 18|   18|    7|    72|     2517|                              85|                            595|          228|           227|          133|                              5607|
| 19|   19|    5|    38|     2503|                              85|                            741|          220|           228|          144|                              5555|
| 20|   20|    9|    71|     2501|                              60|                            767|          230|           223|          126|                              5547|
+---+-----+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
only showing top 20 rows

In [13]:
data.count()

546298

In [14]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *

def labelprod(id):
    label = 'covtype' + str(id)
    return label
        
def labelcust(id):
    label = 'fctype' + str(id)
    return label

# NOTE: it seems that calls to udf() must be after SparkContext() is called
udfLabel = udf(labelprod, StringType())
df_prep = data.withColumn("Label", udfLabel("id"))
df_prep.show()

+---+---------+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
| id|    Label|Slope|Aspect|Elevation|Horizontal_Distance_To_Hydrology|Horizontal_Distance_To_Roadways|Hillshade_9am|Hillshade_Noon|Hillshade_3pm|Horizontal_Distance_To_Fire_Points|
+---+---------+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
|  1| covtype1|    3|    51|     2596|                             258|                            510|          221|           232|          148|                              6279|
|  2| covtype2|    2|    56|     2590|                             212|                            390|          220|           235|          151|                              6225|
|  3| covtype3|    9|   139|     2804|                             268|                           3180|          234|           238|          135|                              6121|
|  4| covtype4|   18|   155|     2785|                             242|                           3090|          238|           238|          122|                              6211|
|  5| covtype5|    2|    45|     2595|                             153|                            391|          220|           234|          150|                              6172|
|  6| covtype6|    6|   132|     2579|                             300|                             67|          230|           237|          140|                              6031|
|  7| covtype7|    7|    45|     2606|                             270|                            633|          222|           225|          138|                              6256|
|  8| covtype8|    4|    49|     2605|                             234|                            573|          222|           230|          144|                              6228|
|  9| covtype9|    9|    45|     2617|                             240|                            666|          223|           221|          133|                              6244|
| 10|covtype10|   10|    59|     2612|                             247|                            636|          228|           219|          124|                              6230|
| 11|covtype11|    4|   201|     2612|                             180|                            735|          218|           243|          161|                              6222|
| 12|covtype12|   11|   151|     2886|                             371|                           5253|          234|           240|          136|                              4051|
| 13|covtype13|   22|   134|     2742|                             150|                           3215|          248|           224|           92|                              6091|
| 14|covtype14|    7|   214|     2609|                             150|                            771|          213|           247|          170|                              6211|
| 15|covtype15|    4|   157|     2503|                              67|                            674|          224|           240|          151|                              5600|
| 16|covtype16|    7|    51|     2495|                              42|                            752|          224|           225|          137|                              5576|
| 17|covtype17|    1|   259|     2610|                             120|                            607|          216|           239|          161|                              6096|
| 18|covtype18|    7|    72|     2517|                              85|                            595|          228|           227|          133|                              5607|
| 19|covtype19|    5|    38|     2503|                              85|                            741|          220|           228|          144|                              5555|
| 20|covtype20|    9|    71|     2501|                              60|                            767|          230|           223|          126|                              5547|
+---+---------+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
only showing top 20 rows

In [15]:
df_prep.createOrReplaceTempView("prep")

In [16]:
# split

df_prod = spark.sql("SELECT * FROM prep WHERE `id` <= 546298/2")
df_cust = spark.sql("SELECT ROW_NUMBER() OVER (ORDER BY NULL) AS `id`, ROW_NUMBER() OVER (ORDER BY NULL) AS `Label`, \
                    `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, `Horizontal_Distance_To_Roadways`, \
                    `Hillshade_9am`, `Hillshade_Noon`, `Hillshade_3pm`, `Horizontal_Distance_To_Fire_Points`\
                    FROM prep WHERE `id` > 546298/2")

udfLabel = udf(labelcust, StringType())
df_cust = df_cust.withColumn("Label", udfLabel("id"))

In [17]:
df_cust.show()

+---+--------+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
| id|   Label|Slope|Aspect|Elevation|Horizontal_Distance_To_Hydrology|Horizontal_Distance_To_Roadways|Hillshade_9am|Hillshade_Noon|Hillshade_3pm|Horizontal_Distance_To_Fire_Points|
+---+--------+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
|  1| fctype1|    9|   120|     2944|                             108|                           1236|          236|           232|          127|                               560|
|  2| fctype2|    4|   122|     2942|                              85|                           1266|          228|           236|          143|                               532|
|  3| fctype3|    2|   119|     2940|                              67|                           1296|          223|           237|          149|                               503|
|  4| fctype4|    1|   121|     2940|                              42|                           1325|          221|           237|          152|                               474|
|  5| fctype5|    1|   121|     2939|                              30|                           1355|          221|           237|          152|                               446|
|  6| fctype6|   11|    31|     2933|                              42|                           1535|          217|           216|          133|                               283|
|  7| fctype7|   10|   321|     2931|                              60|                           1595|          193|           230|          176|                               234|
|  8| fctype8|    7|   299|     2936|                              42|                           1624|          200|           237|          177|                               212|
|  9| fctype9|    4|   305|     2938|                              30|                           1654|          209|           237|          167|                               192|
| 10|fctype10|    3|   321|     2939|                              42|                           1684|          211|           236|          164|                               175|
| 11|fctype11|    4|    69|     2940|                              95|                           1744|          224|           231|          143|                               153|
| 12|fctype12|    6|    79|     2937|                             124|                           1774|          228|           229|          135|                               150|
| 13|fctype13|    6|    70|     2933|                             150|                           1804|          227|           228|          135|                               153|
| 14|fctype14|    6|    38|     2930|                             170|                           1834|          220|           227|          143|                               162|
| 15|fctype15|    8|   357|     2929|                             192|                           1864|          207|           226|          156|                               175|
| 16|fctype16|   11|   354|     2930|                             216|                           1894|          201|           220|          157|                               192|
| 17|fctype17|   11|   320|     2929|                             240|                           2073|          191|           229|          178|                               335|
| 18|fctype18|   17|   306|     2938|                             240|                           2103|          170|           228|          197|                               362|
| 19|fctype19|   20|   313|     2948|                             240|                           2133|          163|           221|          196|                               390|
| 20|fctype20|   20|   335|     2957|                             240|                           2163|          171|           209|          175|                               418|
+---+--------+-----+------+---------+--------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+
only showing top 20 rows

In [18]:
df_prod.createOrReplaceTempView("product")
df_cust.createOrReplaceTempView("customer")

In [19]:
df_prod.count()

273149

In [20]:
df_cust.count()

273149

## Skenario

- 10000 3
- 20000 3
- 50000 3
- 100000 3
- 200000 3

- 10000 4
- 10000 5
- 10000 6
- 10000 7

In [21]:
import pandas

export_path = '/Users/mocatfrio/Documents/thesis/tugas-akhir/App/deploy/dataset/fc'
# export_path = '/home/mocatfrio/Documents/tugas-akhir/app/deploy/dataset/fc'

In [22]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM product \
                        WHERE `id` <= 500")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM customer \
                        WHERE `id` <= 500")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_500_3.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_500_3.csv'))

In [23]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM product \
                        WHERE `id` <= 1000")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM customer \
                        WHERE `id` <= 1000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_1000_3.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_1000_3.csv'))

In [24]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM product \
                        WHERE `id` <= 2000")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM customer \
                        WHERE `id` <= 2000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_2000_3.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_2000_3.csv'))

In [25]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM product \
                        WHERE `id` <= 5000")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM customer \
                        WHERE `id` <= 5000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_5000_3.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_5000_3.csv'))

In [26]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM product \
                        WHERE `id` <= 10000")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways` \
                        FROM customer \
                        WHERE `id` <= 10000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_10000_3.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_10000_3.csv'))

In [27]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways`, `Hillshade_9am` \
                        FROM product \
                        WHERE `id` <= 2000")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways`, `Hillshade_9am` \
                        FROM customer \
                        WHERE `id` <= 2000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_2000_4.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_2000_4.csv'))

In [28]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways`, `Hillshade_9am`, `Hillshade_Noon` \
                        FROM product \
                        WHERE `id` <= 2000")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways`, `Hillshade_9am`, `Hillshade_Noon` \
                        FROM customer \
                        WHERE `id` <= 2000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_2000_5.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_2000_5.csv'))

In [29]:
df_p = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways`, `Hillshade_9am`, `Hillshade_Noon`, `Hillshade_3pm` \
                        FROM product \
                        WHERE `id` <= 2000")
df_c = spark.sql("SELECT `id`, `Label`, `Slope`, `Aspect`, `Elevation`, `Horizontal_Distance_To_Hydrology`, \
                        `Horizontal_Distance_To_Roadways`, `Hillshade_9am`, `Hillshade_Noon`, `Hillshade_3pm` \
                        FROM customer \
                        WHERE `id` <= 2000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_2000_6.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_2000_6.csv'))

In [30]:
df_p = spark.sql("SELECT * \
                       FROM product \
                        WHERE `id` <= 2000")
df_c = spark.sql("SELECT * \
                        FROM customer \
                        WHERE `id` <= 2000")
df_p.toPandas().to_csv(os.path.join(export_path, 'product_fc_2000_7.csv'))
df_c.toPandas().to_csv(os.path.join(export_path, 'customer_fc_2000_7.csv'))